*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.top_div{
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

nav ul li{
    list-style: none;
    display: inline-block;

}
nav ul li a{
    color: hsl(0, 0%, 41%);
    text-decoration: none;
    padding-left: 30px;
}

nav ul li a:hover{
    color: hsl(0, 0%, 8%);
    transition: .3s;
}

.button_b{
    text-align: center;
    width: 85px;
    height: 40px;
    border-radius: 12px;
    background-color: white;
    border: 2px solid hsl(0, 0%, 41%);

}
.button_a{
    width: 85px;
    height: 40px;
    border-radius: 12px;
    background-color: white;
    border-style: none;
    margin-right: 10px;

}
.button_b:hover{
    background-color: hsl(0, 0%, 8%);
    transition: .3s;
    cursor: pointer;
}

.button_a:hover{
    background-color: hsl(0, 0%, 8%);
    transition: .3s;
    cursor: pointer;
}
button a{
    color:hsl(0, 0%, 41%);
    text-decoration: none;
    text-align: center;

}
button a:hover{
    transition: ease-in;
    transition: .3s;
    color: white;
}
.right_button{
    margin-left: auto;
    padding-left: 60px;
}

ul li ul.dropdown{
    display: block;
}

ul li ul.dropdown{
    width:auto;
    height: auto;
    position:absolute;
    display: none;
    z-index: 999;
    background: hsl(0, 0%, 98%);
    margin-left: 100px;
    border-radius: 8px;

  }

ul li:hover ul.dropdown {
      display: block;
      transition: .3s;
      cursor: pointer;
    }

    nav ul li ul li{
        list-style: none;
        display: block;
        padding-top: 5px;
        text-align: left;
        padding-left: none;
    }

    nav ul li ul li embed{
        margin-right: 5px;
    }

h1{
    font-size: 75px;
    font-weight: 700;
}

.main{
    display: flex;
}
.icons ul{
    list-style: none;
    display: flex;
}
.icons ul li{
    padding-right: 30px;
    padding-top: 80px;
}